video{
	width : 100vw;
	min-height: 27vh;
	height: auto;
 	margin: 0;
 	padding: 0;
 	@include tablet{
		height: 63vh;
	}
	@include desktop{
		height: 62.4vh;
	}
}

#player_container{
position: relative;
bottom:30px;
height: 25px;
width: 100%;
background-color: rgba(10, 10, 10, 0.1);
		
		@include laptop{
		    width: 74.9%;			    
    		margin: 0 auto;
		}

		@include desktop{
		    width: 62%;			    
    		margin: 0 auto;
		}


		#progress{
					z-index: 1000;    
					position: relative;
				    width: 100%;
				    height: 5px;
				    border-radius: 5px;
				}
	
	#controls{
		display: none;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: baseline;
	    height: 50px;
	    width: 100%;
	    padding: 1% 5%;
	    background: rgba(0, 0, 0, 0.32);
		button{
		    flex-basis: 5%;
		    height: 30px;
		    background-color: transparent;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 50%;
		    border: none;
		    outline: none;
		}
		.play{
			    background-image: url("../icons/play-icon.png");
			    margin-left: 0;
		}
		.pause{
			    background-image: url("../icons/pause-icon.png");				
		}
		#progress{
			flex-basis: 45%;
		    color: #333;
		    vertical-align: middle;
		}
		.sound-on{
			background-image: url("../icons/volume-on-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}
		.sound-off{
			background-image: url("../icons/volume-off-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}
		#volume{
			    flex-basis: 10%;
		}
		#full_screen{
		    margin-right: 0;
		    background-image: url("../icons/fullscreen-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}

	}
}
.sets{
	margin: 0;
	padding: 0;
	line-height: 1em;
}
