video{
	width : 100vw;
	min-height: 27vh;
	height: auto;
 	margin: 0;
 	padding: 0;
 	@include tablet{
		height: auto;
	}
	@include desktop{
	    height: 500px;
    	width: 889px;
	}
}

#player_container{
bottom:42px;;
height: 25px;
width: 100%;
background-color: rgba(10, 10, 10, 0.1);


		#progress{
					z-index: 1000;    
					position: relative;
				    width: 100%;
				    height: 5px;
				    border-radius: 5px;
	        		bottom: 10px;
				}
	
	#controls{		
		display: none;
		button{
		    flex-basis: 5%;
		    height: 30px;
		    background-color: transparent;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 50%;
		    border: none;
		    outline: none;
		}
		.play{
			    background-image: url("../icons/play-icon.png");
			    margin-left: 0;
			@include desktop{
			    transform: scale(0.5);

			}
		}
		.pause{
			    background-image: url("../icons/pause-icon.png");				
		}
		.sound-on{
			background-image: url("../icons/volume-on-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}
		.sound-off{
			background-image: url("../icons/volume-off-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}
		#volume{
			    flex-basis: 10%;
		}
		#full_screen{
		    margin-right: 0;
		    background-image: url("../icons/fullscreen-icon.png");
		    transform: scale(3);
		    margin: 0 10px;
		}

	}
}
.sets{
	margin: 0;
	padding: 0;
	line-height: 1em;
}
.no_display{
	display: none;
}
.display{
	bottom: 25px;
    z-index: 1000;
    text-align: center;
    position: absolute;
    width: 100%;
}
.playerBG{    
	width: 75%;
    background: rgba(0, 0, 0, 0.63);
    margin: 0 auto 5px;
    border-radius: .75em;
    line-height: 1.7;
    font-size: 1.1em;
    color: whitesmoke
}
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure {
  display 				:none !important;
}
.normal{
		bottom 				: 42px;
	    flex-direction 		: row;
	    justify-content 	: space-between;
	    align-items 		: baseline;
	    height 				: 50px;
	    widows 				: 100%;
	    background 			: rgba(0, 0, 0, 0.32);
		color 				: white;
	
}
.fullscreen{
    background-color 	: rgba(10, 10, 10, 0.1);
    z-index 			: 1000000000000000;
    margin 				: 0;
    left 				: 0;
}
.relative{
		position: relative;	
}
.absolute{
	position 			: absolute;
}